/* body{
  background-color: #060606;
} */


body{
  margin: 0;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
span{
  background: url(https://cdn2.iconfinder.com/data/icons/lin/128/14.png);
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  /*--------------Third------------*/
  animation: animation 7s linear;
}
@keyframes animation{
  0%{
      transform: translate(-50%, -50%);
      opacity: 1;
      /*-------Fourth----------*/
      filter: hue-rotate(0);
  }
  100%{
      transform: translate(-50%, -5000%);
      opacity: 0;
      /*-------Fourth----------*/
      filter: hue-rotate(720deg);
  }
}

.meme-generator {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.meme-generator img {
  height: 430px;
  object-fit: cover;
}

.meme-generator .generate-meme-btn {
  padding: 8px 20px;
  border: none;
  /* border-left: 4px solid #222;
  border-right: 4px solid #222; */
  margin: 24px 0;
  font-size: 20px;
  color: #0a0a0a;
  background: #fff;
  cursor: pointer;
  transition: all 400ms ease;
}

.meme-generator .generate-meme-btn:hover {
  padding: 8px 36px;
  border-left: 8px solid #222;
  border-right: 8px solid #222;
  letter-spacing: 3px;
  background-color: #1e2fed;
  color: white;
}

.meme-generator .meme-author {
  margin: 8px;
}

.meme-title{
 color: white;
}
